# üèã ex3 Python basics


## Getting help

You can access the help by executing the cell but getting help in a separate Python Console is less distracting.

In [1]:
# help('list')  #Help on class list in module builtins
# ?list  #prints code documentation

## Python as a calculator

In [2]:
2 * 15 + 10

40

## Basic Types data structures

In [3]:
s1 = 'Hello'  #a string

s2 = " Python!"  #another string 

s3 = ''' Python
is fun'''  #a multiline string

a = 1  #int

b = 2.0  #float

c = True  #boolean true

d = False  #boolean false

print(s1 + s2 + s3)

print('a=' + str(a))

print('b is equal to', b, 'c and d are booleans equal to', c, 'and', d)

my_list = [1, 2.0, "3", '3', True, False]  #a list

print('my_list is', my_list)

my_list[0]  #indices start at 0!

#a dictionary map
my_map = {'setosa': '#a6cee3', 'versicolor': '#1f78b4', 'virginica': '#b2df8a'}

print('my_map is', my_map)

Hello Python! Python
is fun
a=1
b is equal to 2.0 c and d are booleans equal to True and False
my_list is [1, 2.0, '3', '3', True, False]
my_map is {'setosa': '#a6cee3', 'versicolor': '#1f78b4', 'virginica': '#b2df8a'}

## Functions

In [ ]:
def f(x):  #declare f
    return x * x

f(2)  #call f with argument 2

## Packages

[NumPy](http://www.numpy.org) (N-dimensional array objects) and [Pandas](http://pandas.pydata.org) (dataframes built with NumPy) are the most relevant for data visualizations.

In [ ]:
import numpy as np  #import numpy
import pandas as pd  #import pandas

Create a numpy array

In [ ]:
arr = np.arange(6)  #?np.arange: Return evenly spaced values within a given interval.
np.random.shuffle(arr)
display(arr.size)
arr

Create a panda dataframe from numpy array

In [ ]:
df = pd.DataFrame(arr)  #create Pandas dataframe from arr data
df

Create a pandas dataframe with typed and named columns. Note that `pd.Categorical` is the equivalent of R `factors`.

In [ ]:
df = pd.DataFrame({
    'A' : pd.Series([1, 2, 3, 4, 5, 6]),
    'B' : pd.Timestamp('20201001'),
    'C' : pd.Categorical(['male', 'female', 'female', 'female', 'male', 'male']),
    'D' : 'foo'})

display(df.C)

display(df.head())  #display first 5 rows
display(df.tail())  #last 5 rows

df.columns  #list columns names

Accessing dataframe elements

In [ ]:
display(df.A)  #this is the preferred way to access column A
display(df.C[1])  #access by df[column = 'C'][row = 1]

Alternate way to access dataframe elements (sometimes needed, e.g., when creating a new column)

In [ ]:
display(df['A'])  #access df[column = 'A']
display(df['C'][1])  #access df[column = 'C'][row = 1]

# Working with Data

## Load a dataset from a package

In [ ]:
from sklearn import datasets
iris = datasets.load_iris()  #see the help: help(datasets)

df = pd.DataFrame(iris.data)  #create dataframe from iris.data
df.head()

## Load a dataset in CSV format

In [ ]:
import pandas as pd  #import pandas

df = pd.read_csv("data/heart-decease-cleveland.csv")
df.head()

## List files in your drive:

In [ ]:
!ls "./"

# Basic stats

## Descriptive statistics

In [ ]:
df = pd.read_csv("data/heart-decease-cleveland.csv")
df.describe()

## Frequency table

In [15]:
arr = np.random.uniform(0, 100, 100)

df = pd.DataFrame({
    'Variable' : pd.Series(arr)
})
df

     Variable
0   46.363494
1   89.803132
2   90.232758
3    6.907616
4   36.643304
..        ...
95  11.685403
96  34.754474
97  83.837469
98  75.704774
99  43.122040

[100 rows x 1 columns]

In [19]:
arr = np.random.uniform(0, 100, 100)
arr = [0,7,10,15,20,21]


df = pd.DataFrame({
    'Variable' : pd.Series(arr)
})

df['bin'] = pd.cut(df.Variable, [0, 20, 40, 60, 80, 100])
df = pd.value_counts(df.bin)  #count values for df.bin
df = df.to_frame('count').reset_index()
df = df.sort_values('index')
df['rf'] = df['count'] / len(df)
df['cf'] = df['rf'].cumsum()

df.columns = ['Value', 'No.', 'Rel. Freq.', 'Cum. Freq.']

df.reset_index(drop=True, inplace=True)

df

       Value  No.  Rel. Freq.  Cum. Freq.
0    (0, 20]    4         0.8         0.8
1   (20, 40]    1         0.2         1.0
2   (40, 60]    0         0.0         1.0
3   (60, 80]    0         0.0         1.0
4  (80, 100]    0         0.0         1.0

---

# Exercises

## üòú Exercise 1 

- Create a dataframe for the values `0, 1, 1, 2, 2, 3, 4, 15`
- use `df.describe()` to compute descriptive statistics

In [4]:
import numpy as np
import pandas as pd

df = pd.DataFrame([0, 1, 1, 2, 2, 3, 4, 15])
df.describe()

               0
count   8.000000
mean    3.500000
std     4.810702
min     0.000000
25%     1.000000
50%     2.000000
75%     3.250000
max    15.000000

## üòú Exercise 2 

- Load `heart-decease-cleveland.csv` in a dataframe
- use `df.describe()` to compute descriptive statistics of all the variables

In [6]:
import numpy as np
import pandas as pd

df = pd.read_csv('data/heart-decease-cleveland.csv')
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,num
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.438944,0.679868,3.158416,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.937294
std,9.038662,0.467299,0.960126,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,1.228536
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,48.000000,0.000000,3.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000
50%,56.000000,1.000000,3.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,61.000000,1.000000,4.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,2.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,4.000000

## ü§î Exercise 3

- Load `heart-decease-cleveland.csv` in a dataframe
- Create a frequency table of the `chol` variable for the frequency ranges:

```
(120, 160]
(160, 200]
(200, 240]
(240, 280]
(280, 320]
(320, 360]
(360, 400]
(400, 440]
```
- set `columns` to `'Chol mg/cl', 'No.', 'Rel. Freq.', 'Cum. Freq.'`

In [23]:
import numpy as np
import pandas as pd

df = pd.read_csv('data/heart-decease-cleveland.csv')

df['bin'] = pd.cut(df.chol, [120, 160, 200, 240, 280, 320, 360, 400, 440], right = True)
df = pd.value_counts(df.bin)  #count values for df.bin
df = df.to_frame('count').reset_index()
df = df.sort_values('index')
df['rf'] = df['count'] / len(df)
df['cf'] = df['rf'].cumsum()

df.columns = ['Chol mg/cl', 'No.', 'Rel. Freq.', 'Cum. Freq.']

df.reset_index(drop=True, inplace=True)

df

   Chol mg/cl  No.  Rel. Freq.  Cum. Freq.
0  (120, 160]    7       0.875       0.875
1  (160, 200]   43       5.375       6.250
2  (200, 240]  101      12.625      18.875
3  (240, 280]   81      10.125      29.000
4  (280, 320]   50       6.250      35.250
5  (320, 360]   16       2.000      37.250
6  (360, 400]    1       0.125      37.375
7  (400, 440]    3       0.375      37.750